<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test Predict</title>
</head>
<body>
    <h2>Test Predict</h2>
    <form action="http://127.0.0.1:5000/predict" method="POST">
        <input type="text" name="name" placeholder="name" value="test perfume"><br><br>
        <input type="text" name="category" placeholder="category" value="perfume"><br><br>
        <input type="number" name="price" placeholder="price" value="50"><br><br>
        <input type="text" name="trend_score" value="auto"><br><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>
